@page "/Profile/Detail/{Id:guid}"
@inject PublicHttpClient PublicHttp

@if(_user is null)
{
    <p class="text-center fw-bold">Loading...</p>
}
else
{
    <div class="row mb-3">
            <div class="col d-xl-flex d-flex align-items-center">
                <h3 class="text-dark mb-4">@_user.FirstName @_user.LastName&#39;s Profile</h3>
            </div>
            <div class="col col-auto d-flex align-items-center"><a href="/Profile/List"><button class="btn btn-light" type="button">See all profiles</button></a></div>
        </div>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Profile Info</p>
                </div>
                <div class="card-body text-center shadow">
                    <div class="row">
                        <div class="col">
                            <img class="rounded-circle mb-3 mt-4" src="@(_user.ProfilePictureUrl ?? "/assets/img/avatar_placeholder.png")" width="160" height="160" alt=""/>
                            <h6 class="text-primary"><strong>@_user.FirstName @_user.LastName</strong></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">@(_user.FirstName ?? "User")&#39;s Statistics</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <h6 class="text-primary">Tournaments attended</h6><span>@(_playedTournaments ?? 0)</span>
                                    </div>
                                    <div>
                                        <h6 class="text-primary">Matches played</h6><span>@(_playedMatches ?? 0)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h6 class="text-primary">Tournaments won</h6><span>@(_wonTournaments ?? 0)</span>
                                    </div>
                                    <div>
                                        <h6 class="text-primary">Matches won</h6><span>@(_wonMatches ?? 0)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private UserModel? _user;
    
    private int? _playedMatches;
    private int? _wonMatches;
    private int? _playedTournaments;
    private int? _wonTournaments;

    protected override async Task OnInitializedAsync()
    {
        _user = await  PublicHttp.Client.GetFromJsonAsync<UserModel>($"api/User/{Id}");
        
        _playedMatches = await PublicHttp.Client.GetFromJsonAsync<int>($"api/Stats/User/Matches/Played/{Id}");
        _wonMatches = await PublicHttp.Client.GetFromJsonAsync<int>($"api/Stats/User/Matches/Won/{Id}");
        _playedTournaments = await PublicHttp.Client.GetFromJsonAsync<int>($"api/Stats/User/Tournaments/Played/{Id}");
        _wonTournaments = await PublicHttp.Client.GetFromJsonAsync<int>($"api/Stats/User/Tournaments/Won/{Id}");
    }
}