@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
    Layout = "_Layout";
}

 <div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-6 col-auto">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">Welcome Back!</h4>
            </div>
            <form id="account" class="user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <hr />
                <div class="mb-3">
                    <input asp-for="Input.Email" class="form-control form-control-user" type="email" aria-describedby="emailHelp" autocomplete="username" aria-required="true" placeholder="Enter Email Address..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.Password" class="form-control form-control-user" type="password" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="custom-control custom-checkbox small">
                        <div class="form-check">
                            <label asp-for="Input.RememberMe" class="form-check-label custom-control-label">
                                <input class="form-check-input custom-control-input" type="checkbox" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <button id="login-submit" type="submit" class="btn btn-primary d-block btn-user w-100">Log in</button>
            </form>
            @if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <hr />
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn btn-primary d-block btn-user w-100 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Log in with @provider.DisplayName</button>
                    }
                </form>
            }
            <hr />
            <div class="text-center"><a class="small" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a></div>
            <div class="text-center"><a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an Account!</a></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
