@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="row d-xl-flex justify-content-xl-center">
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">Create an Account!</h4>
            </div>
            <form id="registerForm" class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input asp-for="Input.FirstName" class="form-control form-control-user" autocomplete="given-name" aria-required="true" placeholder="First Name"/>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Input.LastName" class="form-control form-control-user" autocomplete="family-name" aria-required="true" placeholder="Last Name"/>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Repeat Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button id="registerSubmit" class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
            </form>
            @if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <hr>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn btn-primary d-block btn-user w-100 mb-2" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">Register with @provider.DisplayName</button>
                    }
                </form>
            }
            <hr>
            <div class="text-center"><a class="small" asp-page="./ForgotPassword">Forgot Password?</a></div>
            <div class="text-center"><a class="small" asp-page="./Login">Already have an account? Login!</a></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
