@page "/"
@using TournamentManager.Common.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <div id="content">
            <div class="container-fluid mb-5">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Dashboard</h3>
                </div>
                <!-- TODO add active tournaments -->
                <div class="row">
                    <div class="col">
                        <div class="card shadow m-2">
                            <div class="card-header">
                                <div class="row d-lg-flex align-items-lg-center">
                                    <div class="col">
                                        <h4 class="mb-0">Upcoming tournaments</h4>
                                    </div>
                                    <div class="col text-end"><a href="/Tournaments/List" class="btn btn-primary btn-sm">Show all</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (_tournamentsUpcoming is null)
                                {
                                    <p class="text-center fw-bold">Loading...</p>
                                }
                                else
                                {
                                    <div class="table-responsive table mt-2" role="grid">
                                        @if (_tournamentsUpcoming.Count == 0)
                                        {
                                            <p class="text-center fw-bold">No tournaments found.</p>
                                        }
                                        else
                                        {
                                            <table class="table my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Sport<i class="fas fa-baseball-ball pe-0 ms-2"></i></th>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>Occupation</th>
                                                        <th>Winner</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        var tournament = _tournamentsUpcoming[i];
                                                        <tr>
                                                            <td>@tournament.Sport?.Name</td>
                                                            <td>@tournament.Name</td>
                                                            <td>@tournament.Date.ToString("dd. MM. yyyy")</td>
                                                            <td>@_numberOfParticipantsUpcoming[@tournament.Id] / @tournament.MaxAttendees</td>
                                                            <td class="text-end"><a data-bs-target="/Tournament/@tournament.Id" href="/Tournament/Detail/@tournament.Id" class="btn btn-primary">Detail</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow m-2">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col d-lg-flex align-items-lg-center">
                                        <h4 class="mb-0">Your finished tournaments</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="dataTable-2" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                    <table id="dataTable" class="table my-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-start">Position</th>
                                                <th class="text-start">Date</th>
                                                <th class="text-start"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Football championship</td>
                                                <td>1.</td>
                                                <td>30.9.2022</td>
                                                <td class="text-end"><a data-bs-target="Team/detail.html" href="../Tournament/detail.html"><button class="btn btn-primary btn-sm" type="button">Detail</button></a></td>
                                            </tr>
                                            <tr>
                                                <td>Golf Brno</td>
                                                <td>25.</td>
                                                <td>1.2.2022</td>
                                                <td class="text-end"><a data-bs-target="Team/detail.html" href="../Tournament/detail.html"><button class="btn btn-primary btn-sm" type="button">Detail</button></a></td>
                                            </tr>
                                            <tr>
                                                <td>Yugioh</td>
                                                <td>5.</td>
                                                <td>8.6.2021</td>
                                                <td class="text-end"><a data-bs-target="Team/detail.html" href="../Tournament/detail.html"><button class="btn btn-primary btn-sm" type="button">Detail</button></a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="content">
            <div class="container-fluid mb-5">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Dashboard</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow m-2">
                            <div class="card-header">
                                <div class="row d-lg-flex align-items-lg-center">
                                    <div class="col">
                                        <h4 class="mb-0">Upcoming tournaments</h4>
                                    </div>
                                    <div class="col text-end"><a href="/Tournaments/List" class="btn btn-primary btn-sm">Show all</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (_tournamentsUpcoming is null)
                                {
                                    <p class="text-center fw-bold">Loading...</p>
                                }
                                else
                                {
                                    <div class="table-responsive table mt-2" role="grid">
                                        @if (_tournamentsUpcoming.Count == 0)
                                        {
                                            <p class="text-center fw-bold">No tournaments found.</p>
                                        }
                                        else
                                        {
                                            <table class="table my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Sport<i class="fas fa-baseball-ball pe-0 ms-2"></i></th>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>Occupation</th>
                                                        <th>Winner</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        var tournament = _tournamentsUpcoming[i];
                                                        <tr>
                                                            <td>@tournament.Sport?.Name</td>
                                                            <td>@tournament.Name</td>
                                                            <td>@tournament.Date.ToString("dd. MM. yyyy")</td>
                                                            <td>@_numberOfParticipantsUpcoming[@tournament.Id] / @tournament.MaxAttendees</td>
                                                            <td class="text-end"><a data-bs-target="/Tournament/@tournament.Id" href="/Tournament/Detail/@tournament.Id" class="btn btn-primary">Detail</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow m-2">
                            <div class="card-header">
                                <div class="row d-lg-flex align-items-lg-center">
                                    <div class="col">
                                        <h4 class="mb-0">Best players</h4>
                                    </div>
                                    <div class="col text-end"><a href="/Tournament/List" class="btn btn-primary btn-sm">Show all</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div id="dataTable-2" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                            <table id="dataTable" class="table my-0">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>email</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><img class="rounded-circle me-2" width="30" height="30" src="avatars/avatar1.jpeg" />Airi Satou</td>
                                                        <td>airi@example.com</td>
                                                        <td class="text-end"><a href="../Profile/detail.html"><button class="btn btn-primary btn-sm" type="button">Detail</button></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><img class="rounded-circle me-2" width="30" height="30" src="avatars/avatar2.jpeg" />Angelica Ramos</td>
                                                        <td>ramosan@email.com</td>
                                                        <td class="text-end"><a href="../Profile/detail.html"><button class="btn btn-primary btn-sm" type="button">Detail</button></a></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr></tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    private UserModel? _currentUser;
    private List<TournamentModel>? _tournaments;
    private Dictionary<Guid, int> _numberOfParticipantsPublic = new();

    private List<TournamentModel>? _tournamentsUpcoming;
    private Dictionary<Guid, int> _numberOfParticipantsUpcoming = new();

    protected override async Task OnInitializedAsync()
    {

        try
        {
            _currentUser = await Http.GetFromJsonAsync<UserModel>($"api/User/current");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            _currentUser = null;
        }

        if (_currentUser is null) // Not logged in
        {
            try
            {
                _tournaments = await Http.GetFromJsonAsync<List<TournamentModel>>("api/Tournament") ?? new List<TournamentModel>();
                // _tournamentsPublic = _tournamentsPublic.Where(x => x.IsPublic).ToList(); // Should not be needed, should be handled by controller
                 var participants = await Http.GetFromJsonAsync<List<TeamIsParticipatingModel>>("/api/TeamIsParticipating") ?? new();
                
                _tournamentsUpcoming = _tournaments.Where(x => x.Date > DateTime.Now).ToList();
                foreach (var tournament in _tournamentsUpcoming)
                {
                    _numberOfParticipantsUpcoming.Add(tournament.Id, participants.Count(x => x.TournamentId == tournament.Id && x.Approved));
                }
                

            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
        else // Logged user
        {
            
        }

    }

}