@*
Author: Jan Vaclavik (xvacla35)
*@

@page "/Tournament/Detail/{Id}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TournamentManager.Client.App.Shared.ModalComponents
@using TournamentManager.Common.Enums
@inject HttpClient Http
@inject PublicHttpClient PublicHttp
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Tournament Detail</PageTitle>

@if (_tournament is null)
{
    <div class="card shadow">
        <div class="card-body">
            <p class="text-center fw-bold">Loading...</p>
        </div>
    </div>
}
else
{
    @if (!_resultOk)
    {
        <div class="row">
                <div class="col">
                    <MessageBox MessageType="MessageType.Error" Title="Error" Message="@_errorMessage" ShowCloseButton="true"></MessageBox>
                </div>
            </div>
        
    }
    <div class="row mb-3">
        <div class="col text-center d-flex align-items-center">
            <h3 class="text-dark d-flex">@_tournament.Name</h3>
        </div>
        <div class="col col-auto"><a href="/Tournament/list"><button class="btn btn-light" type="button">Back to All Tournaments</button></a></div>
        @if (_tournament.Participatings.Count(x => x.Approved) < _tournament.MaxAttendees && !_tournament.InProgress)
        {
            if (_teamParticipatingId == Guid.Empty)
            {
                <AuthorizeView>
                    <Authorized>
                        <div class="col col-auto"><a class="btn btn-primary" @onclick="ParticipateAsync">Participate</a></div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="col col-auto"><a class="btn btn-primary" href="authentication/login">Participate</a></div>
                    </NotAuthorized>
                </AuthorizeView>
            }
            else
            {
                <AuthorizeView>
                    <Authorized>
                        <div class="col col-auto"><a class="btn btn-danger" @onclick="LeaveTournament">@(_participantApproved ? "Leave Tournament" : "Delete Request")</a></div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="col col-auto"><a class="btn btn-danger" href="authentication/login">@(_participantApproved ? "Leave Tournament" : "Delete Request")</a></div>
                    </NotAuthorized>
                </AuthorizeView>

            }
        }
        @if (_loggedUser?.Id == _tournament.CreatorId ||  (_loggedUser?.IsAdministrator ?? false))
        {
            <div class="col col-auto"><a href="/Tournament/Manage/@_tournament.Id"><button class="btn btn-primary" type="button">Manage Tournament</button></a></div>
        }
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">

                    <div class="row mb-3">
                        <div class="col">
                            <div>
                                <h6 class="text-primary">Date</h6><span>@_tournament.Date.ToString("dd. MM. yyyy")</span>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h6 class="text-primary">Players participating</h6><span>@_numberOfParticipants/@_tournament.MaxAttendees</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <h6 class="text-primary">Description</h6>
                                <p>@_tournament.Description<br></p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h6 class="text-primary">Sport</h6>
                                <p>@(_tournament.Sport is not null ? _tournament.Sport.Name : "Other")<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-center text-primary">Tournament Matches</h4>
        </div>
    </div>

    <div class="row">
        @if (_matches is not null)
        {
            @if (_matches.Count == 0)
            {
                <p class="text-center fw-bold">Tournament has no matches</p>
            }
            foreach (var match in _matches)
            {
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="row">
                                @if (_tournament != null && match.Round == _tournament.NumOfRounds)
                                {
                                    <h6 class="text-primary fw-bold">Final</h6>
                                }
                                else
                                {
                                    <h6 class="text-primary">Round @match.Round</h6>
                                }
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (_approvedParticipants is not null)
                                    {
                                        var teamInfo = _approvedParticipants.FirstOrDefault(x => x.TeamId == match.Team1Id);
                                        <p>
                                            @if (teamInfo is not null && (teamInfo.Team?.LogoUrl is not null && teamInfo.Team?.LogoUrl != ""))
                                            {
                                                <img alt="team2-image" class="rounded-circle me-2" width="30" height="30" src="@teamInfo.Team?.LogoUrl">
                                            }
                                             
                                            @teamInfo?.Team?.Name
                                        </p>
                                    }
                                </div>
                                <div class="col align-self-center">
                                    <p class="lead text-center">@match.Score1</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (_approvedParticipants is not null)
                                    {
                                        var teamInfo = _approvedParticipants.FirstOrDefault(x => x.TeamId == match.Team2Id);
                                        <p>
                                            @if (teamInfo is not null && (teamInfo.Team?.LogoUrl is not null && teamInfo.Team?.LogoUrl != ""))
                                            {
                                                <img alt="team2-image" class="rounded-circle me-2" width="30" height="30" src="@teamInfo.Team?.LogoUrl">
                                            }
                                            
                                            @teamInfo?.Team?.Name
                                        </p>
                                    }
                                </div>
                                <div class="col align-self-center">
                                    <p class="lead text-center">@match.Score2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}

@code {
    [Parameter]
    public string? Id { get; set; }
    
    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    private TournamentModel? _tournament;
    private UserModel? _loggedUser;
    private List<MatchModel>? _matches;
    private int _numberOfParticipants;
    private bool _resultOk = true;
    private Guid _teamParticipatingId;
    private List<TeamIsParticipatingModel>? _approvedParticipants;
    private bool _participantApproved;
    private string _errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity?.IsAuthenticated ?? false)
        {
            try
            {
                _tournament = await Http.GetFromJsonAsync<TournamentModel>($"/api/Tournament/{Id}");
                _loggedUser = await Http.GetFromJsonAsync<UserModel>("/api/User/current");
                var allParticipants = await Http.GetFromJsonAsync<List<TeamIsParticipatingModel>>("/api/TeamIsParticipating") ?? new();
                _approvedParticipants = allParticipants.Where(x => x.TournamentId == _tournament?.Id && x.Approved).ToList();
                if (_loggedUser is not null && _tournament is not null)
                {
                    var userAsLeaderTeams = await Http.GetFromJsonAsync<List<TeamModel>>($"/api/Team/ByUser/{_loggedUser.Id}") ?? new();
                    foreach (var userAsLeaderTeam in userAsLeaderTeams)
                    {
                        var teamParticipating = _tournament.Participatings.FirstOrDefault(x => x.TeamId == userAsLeaderTeam.Id);
                        if (teamParticipating is null) continue;
                        _participantApproved = teamParticipating.Approved;
                        _teamParticipatingId = teamParticipating.Id;
                    }
                }
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
        else
        {
            _tournament = await PublicHttp.Client.GetFromJsonAsync<TournamentModel>($"/api/Tournament/{Id}");
        }

        _numberOfParticipants = _tournament?.Participatings.Count(x => x.Approved) ?? 0;
        _matches = _tournament?.Matches.OrderBy(x => x.Round).ThenBy(x => x.Order).ToList() ?? new List<MatchModel>();
    }

    private async Task LeaveTournament()
    {
        try
        {
            var message = new ModalParameters().Add(nameof(ConfirmationModal.Message), "Are you sure you want to leave the tournament?");
            var result = await Modal.Show<ConfirmationModal>("Leave the Tournament", message).Result;
            if (result.Confirmed)
            {
                var response = await Http.DeleteAsync($"/api/TeamIsParticipating/{_teamParticipatingId}");
                if (!response.IsSuccessStatusCode)
                {
                    _resultOk = false;
                    _errorMessage = "Unable to leave the tournament";
                }
                else
                {
                    _resultOk = true;
                    _errorMessage = "";
                    _teamParticipatingId = Guid.Empty;
                    await OnInitializedAsync();
                }
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    
    private async Task ParticipateAsync()
    {
        if (_loggedUser is null || _tournament is null)
            return;
        
        if (_tournament.IsIndividual)
        {
            var personalUserTeams = await Http.GetFromJsonAsync<List<TeamModel>>($"api/Team/ByUser/{_loggedUser.Id}");
            TeamModel newUserTeam;
            if (personalUserTeams is null || personalUserTeams.Count == 0)
            {
                newUserTeam = new TeamModel($"{_loggedUser.FirstName} {_loggedUser.LastName}", null, true)
                {
                    LeaderId = _loggedUser.Id
                };
                var result = await Http.PutAsJsonAsync("/api/Team", newUserTeam);
                if (!result.IsSuccessStatusCode)
                {
                    _resultOk = false;
                    _errorMessage = "Unable to participate";
                }
                else
                {
                    _resultOk = true;
                    _errorMessage = "";
                }
            }
            else
            {
                var personalUserTeam = personalUserTeams.FirstOrDefault(x => x.IsPersonal);
                if (personalUserTeam is null)
                {
                    newUserTeam = new TeamModel($"{_loggedUser.FirstName} {_loggedUser.LastName}", null, true)
                    {
                        LeaderId = _loggedUser.Id
                    };
                    var result = await Http.PutAsJsonAsync("/api/Team", newUserTeam);
                    if (!result.IsSuccessStatusCode)
                    {
                        _resultOk = false;
                        _errorMessage = "Unable to participate";
                    }
                    else
                    {
                        _resultOk = true;
                        _errorMessage = "";
                    }
                }
                else
                {
                    newUserTeam = (TeamModel) personalUserTeam.Clone();
                }
            }
            var teamToParticipate = new TeamIsParticipatingModel(false, DateTime.Now, newUserTeam.Id, _tournament.Id);
            var result2 = await Http.PutAsJsonAsync("api/TeamIsParticipating", teamToParticipate);
            if (!result2.IsSuccessStatusCode)
            {
               
                _resultOk = false;
                _errorMessage = "Unable to participate";
            }
            else
            {
                _resultOk = true;
                _errorMessage = "";
                _teamParticipatingId = teamToParticipate.Id;
            }
        }
        else
        {
            var parameters = new ModalParameters()
                .Add(nameof(ParticipateAsTeamModal.CurrentUser), _loggedUser);
            var result = await Modal.Show<ParticipateAsTeamModal>("Team Selection", parameters).Result;
            if (result.Confirmed)
            {
                var team = result.Data as TeamModel;
                if (team is not null)
                {
                    var participatingTeam = new TeamIsParticipatingModel(false, DateTime.Now, team.Id, _tournament.Id);
                    var result2 = await Http.PutAsJsonAsync("/api/TeamIsParticipating", participatingTeam);
                    if (!result2.IsSuccessStatusCode)
                    {
                        _resultOk = false;
                        _errorMessage = "Unable to participate";
                    }
                    else
                    {
                        _resultOk = true;
                        _errorMessage = "";
                        _teamParticipatingId = participatingTeam.Id;
                    }
                }
            }
        }
    }
}